<div class="container py-5">
  <div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h3 class="card-title text-center mb-4">Author Registration</h3>
          <form id="registerForm">
            <div class="mb-3">
              <label for="author_name" class="form-label">First Name</label>
              <div class="input-group">
                <span class="input-group-text"><i
                    class="bi bi-person"
                  ></i></span>
                <input
                  type="text"
                  class="form-control"
                  id="author_first_name"
                  name="author_first_name"
                  value="John"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="author_lastname" class="form-label">Last Name</label>
              <div class="input-group">
                <span class="input-group-text"><i
                    class="bi bi-person"
                  ></i></span>
                <input
                  type="text"
                  class="form-control"
                  id="author_last_name"
                  name="author_last_name"
                  value="Doe"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="author_nickname" class="form-label">Nickname</label>
              <div class="input-group">
                <span class="input-group-text"><i
                    class="bi bi-person-badge"
                  ></i></span>
                <input
                  type="text"
                  class="form-control"
                  id="author_nick_name"
                  name="author_nick_name"
                  value="Johanny"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="author_email" class="form-label">Email address</label>
              <div class="input-group">
                <span class="input-group-text"><i
                    class="bi bi-envelope"
                  ></i></span>
                <input
                  type="email"
                  class="form-control"
                  id="author_email"
                  name="author_email"
                  value="qwerty@qwerty.com"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="author_phone" class="form-label">Phone Number</label>
              <div class="input-group">
                <span class="input-group-text"><i
                    class="bi bi-telephone"
                  ></i></span>
                <input
                  type="tel"
                  class="form-control"
                  id="author_phone"
                  name="author_phone"
                  value="99-999-93-99"
                />
              </div>
            </div>
            <div class="mb-4">
              <label for="author_password" class="form-label">Password</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-key"></i></span>
                <input
                  type="password"
                  class="form-control"
                  id="author_password"
                  name="author_password"
                  value="password123"
                />
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100"
            >Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/authorreg.js"></script>