<div class="container py-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h1 class="display-4 fw-bold mb-4">Asosiy</h1>
      <p class="lead text-muted">Welcome to our knowledge sharing platform</p>
      <hr class="my-4" />
    </div>
  </div>
</div>